.root {
  min-height: 100%;
  padding: 25px 15px;

  .avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;

    .avatar {
    }
  }

  .title {
    margin-bottom: 10px;
  }

  .views,
  .createdAt {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .icon {
      margin-right: 8px;
      fill: var(--primary-color);
    }
  }

  .block {
    margin-bottom: 20px;
  }
}

.error {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
