.wrapper {
  display: flex;
  margin-top: 10px;

  .label {
    margin-right: 5px;
    color: var(--primary-color);
    opacity: 0.7;
  }

  .select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
    border: 1px solid var(--primary-color);
    opacity: 0.7;

    .option {
      background: var(--inverted-bg-color);
      color: var(--inverted-primary-color);
    }
  }
}
