.app_dark_theme {
  --bg-color: #f4fafb;
  --inverted-bg-color: #116577;
  --primary-color: #116577;
  --secondary-color: #f4fafb;
  --inverted-primary-color: #f4fafb;
  --inverted-secondary-color: #116577;

  // Code
  --code-bg: #62cbe3;

  // Skeleton
  --skeleton-color: #e1e9ee;
  --skeleton-shadow: #d1d9de;

  // card
  --card-bg: #e3e6e7;
}
