.app_light_theme {
  --bg-color: #116577;
  --inverted-bg-color: #f4fafb;
  --primary-color: #f4fafb;
  --secondary-color: #116577;
  --inverted-primary-color: #116577;
  --inverted-secondary-color: #f4fafb;

  // Code
  --code-bg: #2a8195;

  // Skeleton
  --skeleton-color: #e1e9ee;
  --skeleton-shadow: #d1d9de;

  // card
  --card-bg: #167489;
}
