.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  .data {
    .avatarWrapper {
      margin-bottom: 20px;
    }

    .input {
      margin-top: 10px;
    }
  }
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.editing {
  border: 2px solid var(--inverted-secondary-color);
}
